@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(7, 156, 194);
    font-family: serif;
    font-family: 'Bad Script', cursive;
}

.heading{
    text-align: center;
    margin: 20px 0;
    color: #000;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 0 0 10px #43C6AC,
    0 0 20px #43C6AC,
    0 0 40px #43C6AC,
    0 0 80px #43C6AC,
    0 0 120px #43C6AC,
    0 0 200px #43C6AC,
    0 0 300px #43C6AC,
    0 0 400px #43C6AC;
}

.cont-box{
    box-shadow: 2px 2px 4px rgb(1, 55, 77);
    max-width: 330px;
    margin: 50px auto 20px auto;
    padding: 30px 20px 20px 20px;
    border-radius: 20px;
}

.cont-box:hover{
    box-shadow: 2px 2px 4px #000, -2px -2px 4px #000;
}

.h3{
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
}

.input{
    border-bottom: 1px solid #000 !important;
    color: #000;
    border: none ;
    outline: none ;
    background: transparent !important;
    height: 30px;
    margin-bottom: 5px;
    max-width: 290px;
    border-radius: 0%;
}
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

.anchor{
    color: #000;
    cursor: initial;
    display: block;
}
.anchor:hover{
    text-decoration: none;
    color: #000;
}

.show{
    padding-right: 5px;
    cursor: pointer;
}

.account{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.myBtn{
    color: #43C6AC;
    background-color: #03705a !important;
    border: none;
    outline: none;
}
.myBtn:hover{
    color: #48cfb4;
    background-color: #03705a !important;
    box-shadow: 2px 2px 4px #000;
}

.create{
    color: #000;
}
.create:hover{
    text-decoration: none;
    color: #000;
}

.toggle{
margin: 20px 40px 0 40px;
font-size: 25px;
cursor: pointer;
}

